[Desktop Entry]
Name=MIPVC
Comment=Aplicacion para caracterizacion y control de Fuentes
Icon=/home/SESLab/MIPVC/MIPVC/MIPVC.xpm
Exec=/bin/runMIPVC.sh
Type=Application
Terminal=false
Categories=None
