[Desktop Entry]
Name=MIPVC
Comment=Aplicacion para caracterizacion y control de Fuentes
Icon=/home/SESLab/MIPVC/MIPVC/MIPVC.xpm
Exec=python /home/SESLab/MIPVC/MIPVC/MIPVC_v1.py
Type=Application
Terminal=false
Categories=None;
X-KeepTerminal=false
Path=/home/SESLab/MIPVC/MIPVC
